<ion-view title="Message">
  <ion-content>
    <div class="list">


      <label class="item item-input item-floating-label">
        <span class="input-label">SMS Text &nbsp&nbsp {{data.text.length}} /60</span>

        <textarea placeholder="SMS Text" ng-model="data.text" maxlength="60"></textarea>
      </label>

      <button class="button button-balanced button-full " ng-click="getxsldata();">click</button>
      <button class="button button-balanced button-full " ng-click="dosend();">send</button>

      <table>
        <tr>
          <th>S.no</th>
          <th>name</th>
          <th>num</th>
        </tr>
        <tr ng-repeat="a in rec">
          <td ng-if="a.contactno">{{a.name}}</td>
          <td ng-if="a.contactno">{{a.contactno}}</td>
          <td ng-if="a.contactno">{{a.msg}}</td>
        </tr>


      </table>




    </div>

  </ion-content>

</ion-view>
