<ion-view title="Message">
  <ion-content>
    <div class="list">


      <label class="item item-input item-floating-label">
        <span class="input-label">SMS Text &nbsp&nbsp {{data.text.length}} /60</span>

        <textarea placeholder="SMS Text" ng-model="data.text" maxlength="60"></textarea>

      </label>
      <table>
        <tr>
          <th>S.no</th>
          <th>name</th>
          <th>num</th>
        </tr>
        <tr>
          <td>1</td>
          <td>ali</td>
          <td>03022004480</td>
        </tr>
<tr>
          <td>1</td>
          <td>ali</td>
          <td>03022004480</td>
        </tr>
<tr>
          <td>1</td>
          <td>ali</td>
          <td>03022004480</td>
        </tr>

      </table>




    </div>

  </ion-content>

</ion-view>
