<ion-view title="send sms">
  <ion-content>

    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Enter a Mobile Number</span>
        <input type="text" placeholder="Number" ng-model="user.fname">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">how many messages do you want to send in a series</span>
        <input type="text" placeholder="Series count" ng-model="user.lname">
      </label>
     
    </div>




  </ion-content>
</ion-view>
